body {
  background: rgb(52, 53, 55);
  background: linear-gradient(131deg, rgba(52, 53, 55, 1) 0%, rgba(90, 120, 134, 0.23433123249299714) 76%, rgba(6, 24, 43, 0.7469362745098039) 100%);
  background-size: 100%;
}

.App {
  display: flex;
}

#calDiv {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listDiv {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#firstInputDiv {
  padding-top: 50px;
}

#operationButtonDiv {
  margin-top: 50px;
  /* margin-left: 50px; */
  display: flex;
}

#secondInputDiv {
  margin-top: 50px;
}

#lastDiv {
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin-left: 30px; */
}

button {
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background-color: grey;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

input {
  border-style: double;
  height: 30px;
  width: 150px;
}

li {
  font-size: 50px;
}